
.pic {
	width: 200px;
	height: 200px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin: 10px;
	float: left;
	cursor: move;
}

#div1 {
	background-image: url("https://picsum.photos/id/237/200/300");
}

#div2 {
	background-image: url("https://picsum.photos/seed/237/200/300");
}

#div3 {
	background-image: url("image3.jpg");
}

#div4 {
	background-image: url("image4.jpg");
}

#div5 {
	background-image: url("https://picsum.photos/seed/237/200/300");
}

#div6 {
	background-image: url("image6.jpg");
}
